body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:603px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.447058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:73px;
  width:300px;
  height:500px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:73px;
  width:33px;
  height:29px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  background-color:rgba(102, 204, 204, 0.388235294117647);
  font-family:'Garamond Bold', 'Garamond';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:73px;
  width:267px;
  height:29px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:29px;
  background-color:rgba(102, 204, 204, 0.388235294117647);
  font-family:'Garamond Bold', 'Garamond';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:138px;
  width:300px;
  height:1px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:80px;
  width:15px;
  height:15px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:75px;
  width:25px;
  height:25px;
  color:#666666;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:13px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:82px;
  width:7px;
  height:13px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:144px;
  width:220px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:174px;
  width:300px;
  height:1px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:170px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:205px;
  width:284px;
  height:170px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:109px;
  width:205px;
  height:25px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:518px;
  width:283px;
  height:46px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:46px;
  background-color:rgba(102, 204, 204, 0.458823529411765);
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#999999;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
