body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:604px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.447058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:73px;
  width:300px;
  height:500px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:73px;
  width:33px;
  height:29px;
}
#u150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  background-color:rgba(102, 204, 204, 0.388235294117647);
  font-family:'Garamond Bold', 'Garamond Regular', 'Garamond';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:73px;
  width:267px;
  height:29px;
}
#u151_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:29px;
  background-color:rgba(102, 204, 204, 0.388235294117647);
  font-family:'Garamond Bold', 'Garamond Regular', 'Garamond';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:75px;
  width:25px;
  height:25px;
  color:#666666;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:13px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:82px;
  width:7px;
  height:13px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:109px;
  width:205px;
  height:25px;
}
#u154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:163px;
  width:107px;
  height:25px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:361px;
  width:55px;
  height:55px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:296px;
  width:55px;
  height:55px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:231px;
  width:55px;
  height:55px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:361px;
  width:55px;
  height:55px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:296px;
  width:55px;
  height:55px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:231px;
  width:55px;
  height:55px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:231px;
  width:55px;
  height:55px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:296px;
  width:55px;
  height:55px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:361px;
  width:55px;
  height:55px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:426px;
  width:55px;
  height:55px;
  font-family:'Garamond';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:443px;
  width:50px;
  height:25px;
  font-family:'Garamond Bold', 'Garamond Regular', 'Garamond';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:46px;
  word-wrap:break-word;
}
